@model CodeScanning.ViewModels.LaunchScanViewModel
@using Microsoft.AspNetCore.Identity
@using CodeScanning
@using CodeScanning.Controllers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <!--<h2>@ViewBag.Title.</h2>-->
        @Html.AntiForgeryToken()
        <div class="form-group">
            <h1 class="display-4">Repositories found</h1>
            <table>
                <tr>
                    <th>Github repository ID</th>
                    <th>Github repository name</th>
                    <th>Branch</th>
                    <th>Launch Scan</th>
                </tr>  
        @foreach (var repositories in Model.GitHubApiServiceModel.repositories)
        {
                @using (Html.BeginForm("Scan", "LaunchScan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="Id" name="Id" value="@repositories.Id"/>
                    <input type="hidden" id="Name" name="Name" value="@repositories.Name" />
                    <tr>
                        <td>@repositories.Id</td>
                        <td>@repositories.Name</td>
                        <td>
							<select id="Branch" name="Branch">
                                @{
                                    var first = true;
                                }
								@foreach (var branch in repositories.Branches)
								{
                                    if (first)
									{
										<option value="@branch" selected>@branch</option>
										first = false;
									}
									else
									{
										<option value="@branch">@branch</option>
									}
								}
							</select>
                        <td>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-primary" value="Launch Scan for this repository" />
                                </div>
                            </div>
                        </td>
                    </tr>
                }
        }
        </table>
    </div>
}
else
{
    <h1> Access Denied</h1>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}